.bot-icon {
    background-color: rgb(16, 163, 127);
    border-radius: 0.125rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.user-icon {
    background-color: #6c9f31;
    border-radius: 0.125rem;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.bot-icon-svg {
    width: 1.4rem;
    height: 1.4rem;
}

.chat-header {
    font-size: 0.9em;
    font-weight: 375;
    --tw-text-opacity: 1;
    color: rgba(197,197,210,var(--tw-text-opacity));
    background-color: #40414f;
    padding-top: 12px;
    padding-bottom: 12px;
}

code {
    display: inline-block;
    width: auto;
    border-radius: 6px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 6px;
    padding-right: 6px;

    font-size: 13.5px;

    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1;
    tab-size: 4;
    hyphens: none;
}