.bot-icon {
    background-color: rgb(16, 163, 127);
    border-radius: 0.125rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.user-icon {
    background-color: #6c9f31;
    border-radius: 0.125rem;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.bot-icon-svg {
    width: 1.4rem;
    height: 1.4rem;
}

code {
    background-color: #201d1d;
    display: block;
    width: 100%;
    border-radius: 6px;
    padding: 6px;

    font-size: 13px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}