.user-message-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit-area {
  background-color: #343541;
  width: 100%;
  height: auto;
  overflow: hidden;
  border:none;
  color: #ececf1;
  outline: none;
  resize: none;
  vertical-align: middle;
  margin-bottom: 20px;
  top: 16px;
  position: relative;
  padding: 0;
  line-height: 32px;
  text-align: left;

  font-size: 1rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

  .edit-area::-webkit-scrollbar {
    right:-8px;
    width: 8px;
  }
  
  .edit-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 14px;
  }
  
  .edit-area::-webkit-scrollbar-track {
    background-color: #40414f;
  }
  
  .edit-area::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .edit-area::-webkit-scrollbar-button {
    display:none;
  }

.edit-button {
  position: relative;
  left: 50%;
  bottom: 20px;
  margin-top: -47.6px;
  background: #343541;
  box-shadow: none;
  border: none;
  --tw-text-opacity: 1;
    color: rgba(142,142,160,var(--tw-text-opacity));
  height: 37.6px;
  width: 40px;
}

.edit-button:hover {
  background: #40414f;
}

.button-container {
  margin-top: 16px;
  margin-bottom: -8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  align-items: center;
    border-color: transparent;
    border-radius: 0.25rem;
    border-width: 1px;
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    pointer-events: auto;
    margin-right: 8px;
}

.save-button {
  background: #0ca37f;
  color: white;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.save-button:hover {
  background-color: #098266;
}

.cancel-button {
  background: transparent;
  color: white;
  border: 0.5px solid #4d4d4f;
  justify-content: center;
  align-items: center;
}

.cancel-button:hover {
  background: #40414f;
}

