body {
  min-width: 600px;
  overflow: clip;
}

.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  overflow-x: clip;
  min-width: 600px;
  top:0;bottom: 0; left:0; right:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added */
.sidemenu {
  width:240px;
  min-width: 240px;
  padding:10px;
 /* border:1px solid #6e6e80;*/
  background-color: #202123;
}

.float-sidemenu {
  height: 100%;
  width:240px;
  min-width: 240px;
  padding:10px;
 /* border:1px solid #6e6e80;*/
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #202123f3;
  z-index: 9999;
}

.button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
}

.input-button {
  position: relative;
  bottom: -4.5px;
  left: -34px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 14px;
  padding:1px;
  width: 32px;
  cursor: pointer;
  z-index: 9999;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.input-button:hover {
  background-color: #28292c;
}


.chatbox {
  flex : 1;
  /*border:1px solid #6e6e80;*/
  min-width: 600px;
  background-color: #40414f;
  overflow-x: clip;
  display: flex;
  align-items: top;
  position: relative;
  margin: 0;
  justify-items: center;
}

.newchat-button {
  padding: 12.5px;
  border: 0.5px solid #4d4d4f;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
}

.newchat-click {
  position: fixed;
  padding: 12px;
  width: 240px;
  height: 45px;
  left: 11px;
  top: 8px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  z-index: 9999;
  cursor: pointer;
}

.newchat-button:hover {
  padding: 12px;
  border: 0.5px solid #535357;
  background-color: #28292c;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
}

.newchat-span {
  text-align: left;
  font-size: 12px;
  margin-right: 10px;
}

.chat-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  display: inline-block
}

.chat-input-box {
  padding: 14px;
  border: none;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 80%;
  height: 24px;
  max-height: 200px;
  border:none;
  color: #ececf1;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  font-size: 1.25em;
  outline: none;
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  resize: none;
  vertical-align: middle;
  margin: 0;
}

.chat-input-textarea::-webkit-scrollbar {
  width: 8px;
}

.chat-input-textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 14px;
}

.chat-input-textarea::-webkit-scrollbar-track {
  background-color: #40414f;
}

.chat-input-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.chat-input-textarea::-webkit-scrollbar-button {
  display:none;
}

.chat-log {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  margin: 0;
  justify-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-log::-webkit-scrollbar {
  width: 8px;
}

.chat-log::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 14px;
}

.chat-log::-webkit-scrollbar-track {
  background-color: #343541;
}

.chat-log::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.chat-log::-webkit-scrollbar-button {
  display:none;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
}


.from-user .message-border {
  background-color: #343541;
  color: #ececf1;
}

.from-agent .message-border {
  background-color: #444654;
  color: #d9d9e3;
}

.message-border {
  max-width: 100%;
  width: 100%;

  display: flex;
  padding: 1.5rem;
  min-height: 2.2rem;
}

.message-container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1.5rem;
  align-items: center;
  max-width: 48rem;
  width: 100%;
  margin: auto;
}

.message-avatar {
  width: 32px;
  font-weight: bold;
  font-size: 12px;
  text-align: start;
  align-self: start;
  padding: 0.70rem;
  margin-left: 0.0rem;
}

.message-text {
  text-align: left;
}

.from-user {
  display: flex;
  justify-content: flex-start;
}

.from-agent {
  display: flex;
  justify-content: flex-start;
}
