body {
  min-width: 400px;
  overflow: clip;
}

.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  overflow-x: clip;
  min-width: 400px;
  top:0;bottom: 0; left:0; right:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added */

.chatbox {
  flex : 1;
  /*border:1px solid #6e6e80;*/
  min-width: 400px;
  background-color: #343541;
  overflow-x: clip;
  display: flex;
  align-items: top;
  position: relative;
  margin: 0;
  justify-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background-color: #343541;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-button {
  display:none;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
}


.from-user .message-border {
  background-color: #343541;
  color: #ececf1;
}

.from-agent .message-border {
  background-color: #444654;
  color: #d9d9e3;
}

.message-border {
  max-width: 100%;
  width: 100%;

  display: flex;
  padding: 1.5rem;
  min-height: 2.2rem;
}

.message-container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1.5rem;
  align-items: center;
  max-width: 48rem;
  width: 100%;
  margin: auto;
}

.message-avatar {
  width: 32px;
  font-weight: bold;
  font-size: 12px;
  text-align: start;
  align-self: start;
  padding: 0.70rem;
  margin-left: 0.0rem;
}

.message-text {
  text-align: left;
}

.from-user {
  display: flex;
  justify-content: flex-start;
}

.from-agent {
  display: flex;
  justify-content: flex-start;
}

.bg-yellow-200 {
  /*background-color: #FDE68A;*/
  background-color: #fae69e;
}

.text-yellow-900 {
  --tw-text-opacity: 1;
  color: rgba(146,114,1,var(--tw-text-opacity));
}

.py-05 {
  padding-top: 0.125rem; /* 0.5 * 0.25rem */
  padding-bottom: 0.125rem; /* 0.5 * 0.25rem */
}

.px-15 {
  padding-left: 0.375rem; /* 1.5 * 0.25rem */
  padding-right: 0.375rem; /* 1.5 * 0.25rem */
}

.text-xs {
  font-size: 0.75rem;
}

.md\:text-sm {
  font-size: 0.875rem; /* Only applies at medium breakpoints */
  line-height: 1.25rem;
}

.rounded-md {
  border-radius: 0.375rem; /* 2 * 0.25rem */
}

.uppercase {
  text-transform: uppercase;
}

.text-4xl {
  font-size: 2.25rem;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-gray-200 {
  color: #EDF2F7;
}

.text-gray-600 {
  color: #565869; /* Only applies in dark mode */
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-10 {
  margin-bottom: 2.5rem; /* 10 * 0.25rem */
}

.sm\:mb-16 {
  margin-bottom: 4rem; /* Only applies at small breakpoints */
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem; /* 2 * 0.25rem */
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.position-center {
  position: relative;
  top:43%;
}