body {
  min-width: 400px;
  overflow: clip;
}

svg {
  stroke: currentColor;
}

.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  overflow-x: clip;
  min-width: 400px;
  top:0;bottom: 0; left:0; right:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added */

.chatbox {
  flex : 1;
  /*border:1px solid #6e6e80;*/
  min-width: 400px;
  background-color: #343541;
  overflow-x: clip;
  display: flex;
  align-items: top;
  position: relative;
  margin: 0;
  justify-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background-color: #343541;
}

:hover::-webkit-scrollbar-track {
  background-color: #343541;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-button {
  display:none;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
}


.from-user .message-border {
  background-color: #343541;
  color: #ececf1;
}

.from-agent .message-border {
  background-color: #444654;
  color: #d9d9e3;
}

.message-border {
  max-width: 100%;
  width: 100%;

  display: flex;
  padding: 1.5rem;
  min-height: 2.2rem;
}

.message-container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1.5rem;
  align-items: center;
  max-width: 48rem;
  width: 100%;
  margin: auto;
}

.message-avatar {
  width: 32px;
  font-weight: bold;
  font-size: 12px;
  text-align: start;
  align-self: start;
  padding: 0.70rem;
  margin-left: -0.3rem;
}

.message-text {
  font-size: 1rem;
  line-height: 32px;
  text-align: left;
  max-width: 653px;
}

.from-user {
  display: flex;
  justify-content: flex-start;
}

.from-agent {
  display: flex;
  justify-content: flex-start;
}

.bg-yellow-200 {
  /*background-color: #FDE68A;*/
  background-color: #fae69e;
}